@font-face {
  font-family: "Horizontal";
  src: url("/fonts/horizontal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
